In [5]:
import pandas as pd
import numpY as np
from math import e
import random
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [6]:
enroll_df = pd.read_csv('IRIS.csv')

In [7]:
enroll_df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
enroll_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### 1. Prepare the data in one-against-the-rest strategY. This can be done bY converting the "Species" column into 3 binarY columns.

In [9]:
df = pd.get_dummies(enroll_df)
df

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [10]:
X = df.drop(["species_Iris-setosa", "species_Iris-versicolor", "species_Iris-virginica"], axis=1)
Y = df[["species_Iris-setosa", "species_Iris-versicolor", "species_Iris-virginica"]]

In [11]:
print("Shape of X : ", X.shape)
print("Shape of Y : ", Y.shape)

Shape of X :  (150, 4)
Shape of y :  (150, 3)

### 4. Implement the gradient descent using all of the dataset in each iteration

In [12]:
def sigmoid(X,W):
    z= X@W
    sig = 1/(1+np.exp(-z))
    return sig

In [13]:
def cost(X,Y,W):
    m = X.shape[0] #total number of sample
    h = sigmoid(X,W)
    cost_function = (-1/m)*np.sum(Y*np.log(h)+(1-Y)*np.log(1-h))
    return cost_function

In [14]:
def mY_gradient(X,W,Y,theta):
    n=X.shape[0]
    h=sigmoid(X,W)
    gradient = (1/n)*(X.transpose()@(h-Y))
    derive = 2*theta*np.sum(W)
    grad = gradient+derive
    return grad

In [15]:
W = np.random.randn(X.shape[1])
mY_gradient(X.to_numpY(),W,Y.iloc[:,0].to_numpY(),0.1)

array([-2.15804163, -1.62904385, -0.97766078, -0.5712993 ])

In [16]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [17]:
def sample(X, Y, n_sample=100):
    m=X.shape[0]
    idx_sample = np.random.randint(150,size=n_sample)
    return X.iloc[idx_sample], Y.iloc[idx_sample,:]

In [18]:
X_sample, Y_sample =sample(X, Y, n_sample=len(X))
print("X_sample",X_sample.shape)
print("Y_sample",Y_sample.shape)

X_sample (150, 4)
y_sample (150, 3)

In [19]:
def onlY_finalcost(mY_list):
    l=[]
    for sub in mY_list:
#     print(sub)
         l.append(sub[-1])
#         print(sub[-1])
    return l

In [20]:
def implement_GD(X,Y,learning_rate,theta,n_iter,n_sample): 
    X_sample, Y_sample = sample(X, Y,n_sample=n_sample) # use all of sample in each iteration
    print("To run this fucntion I use :", len(X_sample),"row from 150 row.")
    
    
    all_cost =[]
    final_weight = []
    n_data=len(X_sample)

    for Y_class in range(3): #3 is number of target class
        cost=[]
        weight = np.random.randn(X_train.shape[1])
        for i in range(n_iter):
            GD=mY_gradient(X_sample.to_numpY(),weight,Y_sample.iloc[:,Y_class].to_numpY(),theta)
            weight = weight-learning_rate*GD
            
            cost_withL2=cost_L2(X_sample.to_numpY(),Y_sample.iloc[:,Y_class].to_numpY(),weight,theta)
            cost.append(cost_withL2)
        all_cost.append(cost)
        final_weight.append(weight)
        final_cost = onlY_finalcost(all_cost)
    return final_weight,final_cost,all_cost,n_data